{%- assign variant = card_product.selected_or_first_available_variant -%}
{%- if variant != blank and card_product.available -%}
  <quick-add-to-cart-button>
    <form method="post"
          action="/cart/add"
          class="ProductCard__AddToCartForm ProductQuickAddToCardForm"
          data-tg-action="add-to-cart"
          style="margin-top: 2px; margin-bottom: 2px;">
      <input type="hidden" name="id" value="{{ variant.id }}">
      <button type="submit"
              class="Button Button--secondary ProductQuickAddToCardForm__AddToCart"
              data-action="quick-add-to-cart"
              style="width: 100%;">
        <span class="ProductQuickAddToCardForm__Label">ADD TO CART</span>
        <span class="ProductQuickAddToCardForm__Icon" aria-hidden="true">
          {%- render 'icons', icon: 'cart-plus' -%}
        </span>
      </button>
    </form>
  </quick-add-to-cart-button>
{%- endif -%}
