.ProductGallery__Carousel.Carousel .Carousel__Item {
  width: 80%;
}
.ProductGallery__Carousel.Carousel .Carousel__Item--fullWidth {
  width: 100%;
}

.ProductGallery--carousel {
  margin-top: 2px;
}

.ProductGallery__Thumbs {
  margin-top: 0.5rem;
}
@media screen and (min-width: 1008px) {
  .ProductGallery__Thumbs {
    -webkit-margin-start: -0.25rem;
            margin-inline-start: -0.25rem;
  }
}
.ProductGallery__Thumbs .Carousel__Item {
  margin-bottom: 0.5rem;
}
.ProductGallery__Thumbs--left .Carousel__Item,
.ProductGallery__Thumbs--right .Carousel__Item {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
}

.ProductGallery__Thumbs .Carousel__Item:not(.swiper-slide-thumb-active) {
  opacity: 0.6;
}

.ProductGallery__Thumbs .Carousel__Item.swiper-slide-thumb-active {
  border: 1px solid #000;
}

.ProductGallery__Thumbs--bottom .Carousel__Item {
  width: 4rem;
}