@media screen and (min-width: 641px) {
  .ProductQuickview__Summary {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
}

.ProductQuickview__Body {
  padding: 0.75rem;
}
.ProductQuickview__Body .ProductForm__Checkout,
.ProductQuickview__Body .Product__StoreAvailabilityContainer,
.ProductQuickview__Body .Product__PayInstallments {
  display: none;
}

.ProductQuickview__ViewMore {
  margin-top: 1rem;
}

.ProductQuickview {
  --tg-product-short-description-text-color: var(--tg-sys-color-on-surface);
  --tg-product-short-description-background: var(--tg-sys-color-surface3);
}