/**
 * ----------------------------------------------------------------------------
 * Template Collection
 * ----------------------------------------------------------------------------
 */
.Template--collection .Collection .Collection__Inner {
  display: flex;
}
.Template--collection .Collection .Collection__Title {
  margin-bottom: 0;
  font-family: var(--tg-sys-typescale-headline-medium-font);
  font-style: var(--tg-sys-typescale-headline-medium-style);
  font-weight: var(--tg-sys-typescale-headline-medium-weight);
  font-size: var(--tg-sys-typescale-headline-medium-size);
  line-height: var(--tg-sys-typescale-headline-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-headline-medium-tracking);
}
.Template--collection .Collection .Collection__Description {
  margin-top: 0.5rem;
}
.Template--collection .Collection .Collection__Content {
  flex-grow: 1;
}
.Template--collection .Collection .Collection__Description {
  line-height: 1.4;
}
.Template--collection .Collection__Aside {
  flex: 0 0 auto;
  min-width: 14rem;
}
@media screen and (min-width: 1008px) {
  .Template--collection .Collection__Aside {
    width: auto;
    -webkit-padding-end: 28px;
            padding-inline-end: 28px;
  }
}
.Template--collection .Collection__Aside .Nav__Link--firstLevel {
  margin-bottom: 4px;
}
.Template--collection .Collection__Aside .Nav__Link--firstLevel.Active {
  font-weight: 500;
}
.Template--collection .Collection__Aside .Nav__Item--hasChildNav:not(:first-child) {
  margin-top: 16px;
}
.Template--collection .Collection__Aside .Nav__Item--hasChildNav .Nav__Link--firstLevel {
  font-weight: 500;
}
.Template--collection .Collection__Aside .Nav__Link--secondLevel {
  padding: 2px;
  font-family: var(--tg-sys-typescale-body-medium-font);
  font-style: var(--tg-sys-typescale-body-medium-style);
  font-weight: var(--tg-sys-typescale-body-medium-weight);
  font-size: var(--tg-sys-typescale-body-medium-size);
  line-height: var(--tg-sys-typescale-body-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-body-medium-tracking);
}
.Template--collection .Collection__Aside .Nav__Link--secondLevel.Active {
  font-weight: 500;
}